*, *::before, *::after {
  box-sizing: border-box;
  color: var(--text);
}

:root {
    --text: #403D88;
    --background: #F8B2B2;
    --subBack: #AF719D;
    --accent: #8B639B;
}

html, body {
    min-height: 100%;
    width: 100%;

    margin: 0;
    padding: 0;

    background-color: var(--background);
}

h1 {
    margin: 0 0 .5rem 0;
}

h2 {
    margin: 1.5rem 0 .5rem 0;
    padding: .1rem;

    background-color: var(--subBack);
    border-radius: .25rem;
    color: var(--background);

    display: flex; 
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

h3 {
    margin: 0 0 0 0;
}

input, textarea {
    background-color: var(--background);
    border: .15rem solid var(--accent);
    border-radius: .25rem;
}

button {
    background-color: var(--background);
    border: .15rem solid var(--accent);
    border-radius: .25rem;
}

#root {
    min-height: 100%;

    margin: 0;
    padding: 2rem;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    gap: 1rem;
}

.inputGroup {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
}

.formSection {
    height: 100%;
    margin-bottom: 1rem;

    flex: 1 1 auto;

    display: flex; 
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.formSection > * {
    width: 60%;
}

.formContainer {
    margin: .5rem 0 .5rem 0;
    padding: .25rem 1rem .25rem 1rem;

    background: var(--subBack);
    border: .15rem solid var(--accent);
    border-radius: .5rem;
}

.formContainer .formHeader {
    margin: 0 0 .25rem 0;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.arrowIcon {
    height: 1rem;
    transition: transform .5s ease;
}

.arrowIcon.open {
    transform: rotate(90deg);
}

.educationBtns, .workBtns {
    margin: .5rem 0 0 0;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.cvSection {
    width: 210mm;
    min-height: 297mm;

    padding: 20mm;

    background-color: #ffffff;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.25);
    border-radius: 2px;

    overflow: hidden;
}

.personalDetails {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.educationDetails {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
}

.educationDetails > div > * {
    margin: 0 0 .5rem 0;
    padding: 0;
}

.workDetails {
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.workDetails > * {
    width: 100%;
}

.workHead {
    margin: .5rem 0 .1rem 0;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.workHead > * {
    margin: 0 0 .5rem 0;
}

@keyframes slideDown {
    from {
        max-height: 0;
    }
    to {
        max-height: 600px;
    }
}

.educationForm.open, .workForm.open {
    overflow: hidden;
    transform-origin: top;
    animation: slideDown 2s ease-out;
}

.hidden {
    display: none;
}

@media (max-width: 1200px) {
    #root {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }

    .formSection {
        width: 80%;
    }

    .formSection > * {
        width: 100%;
    }
}